#barra{
    height: 100%;
    background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    padding: 12px;
}
#componente{
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
}