
<mat-sidenav-container fullscreen class="fondo" >
    <mat-sidenav #sidenav mode="over" [ngStyle]="{width:'250px'}">
    <mat-toolbar color="primary">
      <button mat-icon-button 
      class="example-icon" 
      (click)="sidenav.toggle()"
      aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Verde Tech</span>
      
    </mat-toolbar>
    <app-barra></app-barra>
    </mat-sidenav>
    

    <mat-sidenav-content >

    <mat-toolbar color="primary">
      <button mat-icon-button 
      class="example-icon" 
      (click)="sidenav.toggle()"
      aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Verde Tech</span>
      
      
    </mat-toolbar>
    <mat-card >
      <mat-card-content class="m-5">
        <router-outlet ></router-outlet>
        
      </mat-card-content>
    </mat-card>
    
  </mat-sidenav-content>
  
</mat-sidenav-container>





